section.about
	.container
		.title.title--with-bottom-line
			h2.title.title__header About us
			.title__text We are added our major Services

		ul.about__list
			li.about__item
				.icon.icon-like
				img.icon__picture(src="images//icons/like.png" alt="picture")
				h3.about__header Facebook Marketing
				p.about__description Lorem Ipsum is simpledummy texter the prog and types industry. Standart text editoe for us

			li.about__item
				.icon.icon-book
				img.icon__picture(src="images//icons/book.png" alt="picture")
				h3.about__header Landing Page Creation
				p.about__description Lorem Ipsum is simpledummy texter the prog and types industry. Standart text editoe for us

			li.about__item
				.icon.icon-message
				img.icon__picture(src="images//icons/message.png" alt="picture")
				h3.about__header Ads Management
				p.about__description Lorem Ipsum is simpledummy texter the prog and types industry. Standart text editoe for us