section.approch
	.container 
		.title.title--with-bottom-line
			h2.title.title__header Our Approch
			.title__text Check Our approches step by step (how we do it)

		ul.approch__list

			li.approch__item
				.approch__image
					img.approch__picture(src='../images/step-1.jpg' alt='picure1')
					.approch__step step
				.approch__text
					.approch__title Step 1 : Heading Here
					p.approch__description.
						Learning about your camera is an essential step for anyone who wants to
						become a photographer. Whether you're just starting out or you've been 
						taking pictures for a while, there are always new things to learn and 
						techniques to improve upon.

			li.approch__item
				.approch__image
					img.approch__picture(src='../images/step-2.jpg' alt='picure2')
					.approch__step step
				.approch__text
					.approch__title Step 2 : Heading Here
					p.approch__description.
						Learning about your camera is an essential step for anyone who wants to
						become a photographer. Whether you're just starting out or you've been 
						taking pictures for a while, there are always new things to learn and 
						techniques to improve upon.

			li.approch__item
				.approch__image
					img.approch__picture(src='../images/step-3.jpg' alt='picure3')
					.approch__step step
				.approch__text
					.approch__title Step 3 : Heading Here
					p.approch__description.
						Learning about your camera is an essential step for anyone who wants to
						become a photographer. Whether you're just starting out or you've been 
						taking pictures for a while, there are always new things to learn and 
						techniques to improve upon.

			li.approch__item
				.approch__image
					img.approch__picture(src='../images/step-4.jpg' alt='picure4')
					.approch__step step
				.approch__text
					.approch__title Step 4 : Heading Here
					p.approch__description.
						Learning about your camera is an essential step for anyone who wants to
						become a photographer. Whether you're just starting out or you've been 
						taking pictures for a while, there are always new things to learn and 
						techniques to improve upon.